# 데이터 프레임 인덱스 조작

### 데이터프레임 인덱스 설정 및 제거

In [1]:
import numpy as np
import pandas as pd

In [5]:
np.random.seed(2020)ㄹ
df1 = pd.DataFrame(np.vstack([list('ABCDE'),
                              np.round(np.random.rand(3, 5), 2)]).T,
                   columns=["C1", "C2", "C3", "C4"])
df1

  C1    C2    C3    C4
0  A  0.99  0.22  0.14
1  B  0.87  0.28  0.76
2  C  0.51  0.34  0.74
3  D  0.27  0.86  0.36
4  E  0.34  0.16  0.34

In [6]:
df2 = df1.set_index("C1")
df2

      C2    C3    C4
C1
A   0.99  0.22  0.14
B   0.87  0.28  0.76
C   0.51  0.34  0.74
D   0.27  0.86  0.36
E   0.34  0.16  0.34

In [7]:
df2.set_index("C2")

        C3    C4
C2
0.99  0.22  0.14
0.87  0.28  0.76
0.51  0.34  0.74
0.27  0.86  0.36
0.34  0.16  0.34

In [8]:
df2.reset_index() # 인덱스를 보통의 자료열로 바꿔준다.

  C1    C2    C3    C4
0  A  0.99  0.22  0.14
1  B  0.87  0.28  0.76
2  C  0.51  0.34  0.74
3  D  0.27  0.86  0.36
4  E  0.34  0.16  0.34

In [10]:
df3 = df2.reset_index(drop=True)
df3

     C2    C3    C4
0  0.99  0.22  0.14
1  0.87  0.28  0.76
2  0.51  0.34  0.74
3  0.27  0.86  0.36
4  0.34  0.16  0.34

In [12]:
df_score1 = pd.DataFrame(np.vstack([list('ABCDE'),
                              np.round(np.random.rand(3, 5), 2)]).T,
                   columns=["학생 이름", "영어", "수학", "국어"])
df_score1

  학생 이름    영어    수학    국어
0     A  0.67  0.95  0.67
1     B  0.22  0.14  0.03
2     C  0.56  0.57  0.46
3     D  0.12  0.98  0.16
4     E  0.32   0.5  0.48

### 다중 인덱스

In [13]:
np.random.seed(0)
df4 = pd.DataFrame(np.round(np.random.randn(6, 4), 2),
                   columns=[["A", "A", "B", "B"],
                            ["C", "D", "C", "D"]],
                   index=[["M", "M", "M", "F", "F", "F"],
                          ["id_" + str(i + 1) for i in range(3)] * 2])
df4.columns.names = ["Cidx1", "Cidx2"]
df4.index.names = ["Ridx1", "Ridx2"]
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74

In [15]:
df4[('A','D')][('F','id_1')]

0.12

### 행 인덱스와 열 인덱스 교환

In [16]:
df2

      C2    C3    C4
C1
A   0.99  0.22  0.14
B   0.87  0.28  0.76
C   0.51  0.34  0.74
D   0.27  0.86  0.36
E   0.34  0.16  0.34

In [17]:
df2.stack() # 행 인덱스 기준으로 열 인덱스가 쌓임

C1
A   C2    0.99
    C3    0.22
    C4    0.14
B   C2    0.87
    C3    0.28
    C4    0.76
C   C2    0.51
    C3    0.34
    C4    0.74
D   C2    0.27
    C3    0.86
    C4    0.36
E   C2    0.34
    C3    0.16
    C4    0.34
dtype: object

In [18]:
df2.unstack() # 열 인덱스를 기준으로 행 인덱스가 쌓임

    C1
C2  A     0.99
    B     0.87
    C     0.51
    D     0.27
    E     0.34
C3  A     0.22
    B     0.28
    C     0.34
    D     0.86
    E     0.16
C4  A     0.14
    B     0.76
    C     0.74
    D     0.36
    E     0.34
dtype: object