In [3]:
from bs4 import BeautifulSoup
import pandas as pd
import urllib.request
import requests

In [4]:
url = 'https://www.hanbit.co.kr/academy/books/new_book_list.html'
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36'}
req = requests.get(url, headers=headers)
html = req.text
soup = BeautifulSoup(req.text, 'html.parser')

In [5]:
books_list_area = soup.select_one('.sub_book_list_area')

In [6]:
books_list = books_list_area.select('.sub_book_list')

In [7]:
spans = books_list[0].select_one('span')

In [8]:
x = books_list[0].select_one('.book_writer').string
y = books_list[0].select_one('.book_tit').string
z = spans.select_one('.price').get_text()
x, y, z

('Behrouz A. Forouzan , Richard F. Gilberg ', '포르잔 C++ 에센셜', '32,000원')

In [34]:
book_titles = []; book_writers = []; book_prices = []
for book in books_list:
    x = book.select_one('.book_writer').string
    y = book.select_one('.book_tit').string
    spans = book.select_one('span')
    z = spans.select_one('.price').get_text().strip('원').replace(',','')

    book_writers.append(x)
    book_titles.append(y)
    book_prices.append(z)

In [35]:
book_lists = pd.DataFrame({
            'writer': book_writers,
            'title': book_titles,
            'price': book_prices,
})
book_lists

,writer,title,price
0,"Behrouz A. Forouzan , Richard F. Gilberg",포르잔 C++ 에센셜,32000
1,김지연,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",28000
2,"Behrouz A. Forouzan , Richard F. Gilberg",포르잔 C++ 바이블,45000
3,Gilbert Strang,딥러닝을 위한 선형대수학,38000
4,"박우창 , 남송휘 , 이현룡","IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)",29000
5,조동성 외 인천대학교 가족 178명,대학을 버려야 대학이 산다,18000
6,양재삼,"IT CookBook, 따라 하면서 배우는 사물인터넷",28000
7,"카와하시 잇코 , 이와마 노리카즈 , 스즈키 마사유키",R로 하는 다변량 데이터 분석 : 이론부터 실무 활용까지,32000
8,김은경,창의적 공학설계(3판),23000
9,함남우,공학 핵심수학(2판) : 기초부터 심화까지 핵심만 쏙쏙,23000
10,이건명,응용이 보이는 선형대수학 : 파이썬과 함께하는 선형대수학 이론과 응용,31000
11,강문식,"IT CookBook, 초연결 사회의 데이터통신과 네트워킹",29000
12,"김선우 , 신화선","IT CookBook, 쉽게 배우는 MFC 윈도우 프로그래밍",30000
13,정기철,"IT CookBook, 인공지능 시대를 위한 컴퓨터 과학 개론",27000
14,"우재남 , 유혜림","IT CookBook, 코틀린을 활용한 안드로이드 프로그래밍",34000
15,김지홍,"IT CookBook, 처음 만나는 신재생에너지",25000
16,"스티븐 H. 프리드버그 , 아놀드 J. 인셀 , 로렌스 E. 스펜스",프리드버그 선형대수학,35000
17,이종원,"IT CookBook, CentOS 리눅스",32000
18,"David Besanko , Ronald Braeutigam","Microeconomics, 6th Edition, Asia Edition",49000
19,타니아이 히로키,누구나 파이썬 통계분석,26000

In [32]:
book_url = books_list[0].find('a').attrs['href']
book_url

'/academy/books/book_view.html?p_code=B4797877052'