# OpneWeather API
### 위도, 경도로 부터 현재 날씨 구하기

In [1]:
import pandas as pd
import requests
from urllib.parse import urlparse

In [2]:
key_fd = open('openweatherkey.txt', mode='r')
Oweather_key = key_fd.read(100)
key_fd.close()

In [3]:
lat = 37.5509655
lng = 126.849532
url = f'http://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lng}&appid={Oweather_key}'

In [4]:
result = requests.get(urlparse(url).geturl()).json()
result

{'coord': {'lon': 126.85, 'lat': 37.55},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 276.21,
  'feels_like': 271.42,
  'temp_min': 275.15,
  'temp_max': 277.15,
  'pressure': 1019,
  'humidity': 69},
 'visibility': 10000,
 'wind': {'speed': 3.6, 'deg': 350},
 'clouds': {'all': 75},
 'dt': 1605842413,
 'sys': {'type': 1,
  'id': 8105,
  'country': 'KR',
  'sunrise': 1605824263,
  'sunset': 1605860344},
 'timezone': 32400,
 'id': 1838716,
 'name': 'Bucheon-si',
 'cod': 200}

In [5]:
main = result['weather'][0]['main']
desc = result['weather'][0]['description']
main, desc

('Clouds', 'broken clouds')

In [15]:
temp = result['main']['temp']
temp_min = result['main']['temp_min']
temp_max = result['main']['temp_max']
temp, temp_min, temp_max

(276.21, 275.15, 277.15)

In [16]:
temp = round(float(temp)+0.01, 1)
temp

276.2

### address2.csv 파일 읽어서 날씨 정보 입력하기

In [17]:
df = pd.read_csv('address2.csv')
df

   Unnamed: 0   bldg                   road_addr        lat         lng
0           0   강서구청     서울특별시 강서구 화곡로 302 (화곡동)  37.550966  126.849532
1           1   양천구청    서울특별시 양천구 목동동로 105 (신정동)  37.517075  126.866543
2           2   부천시청      경기도 부천시 길주로 210-2 (중동)  37.502277  126.765004
3           3  영등포구청  서울특별시 영등포구 당산로 123 (당산동3가)  37.525963  126.896367
4           4   김포시청        경기도 김포시 사우중로 1 (사우동)  37.615190  126.715717

In [22]:
weather_list = []; desc_list = []; temp_list = []
for i in df.index:
    url = f'http://api.openweathermap.org/data/2.5/weather?lat={df.lat[i]}&lon={df.lng[i]}&appid={Oweather_key}'
    result = requests.get(urlparse(url).geturl()).json()
    main = result['weather'][0]['main']
    desc = result['weather'][0]['description']
    temp = result['main']['temp']
    temp = round(float(temp)+0.01, 1)
    temp_min = result['main']['temp_min']
    temp_max = result['main']['temp_max']
    desc_list.append(desc)
    temp_list.append(f'{temp}/{temp_min}/{temp_max}')
    weather_list.append(main)

In [23]:
df['weather'] = weather_list
df['desc'] = desc_list
df['temp'] = temp_list
df

,Unnamed: 0,bldg,road_addr,lat,lng,weather,desc,temp
0,0,강서구청,서울특별시 강서구 화곡로 302 (화곡동),37.550966,126.849532,Clouds,broken clouds,276.2/275.15/277.15
1,1,양천구청,서울특별시 양천구 목동동로 105 (신정동),37.517075,126.866543,Clouds,broken clouds,277.1/276.15/278.15
2,2,부천시청,경기도 부천시 길주로 210-2 (중동),37.502277,126.765004,Clouds,broken clouds,276.1/275.15/277.15
3,3,영등포구청,서울특별시 영등포구 당산로 123 (당산동3가),37.525963,126.896367,Clouds,overcast clouds,277.1/276.15/278.15
4,4,김포시청,경기도 김포시 사우중로 1 (사우동),37.615190,126.715717,Clouds,broken clouds,276.1/275.15/277.15

In [24]:
df.to_csv('address3.csv', sep=',', encoding='utf8', index=False)