# 배열의 생성과 변형

In [1]:
import numpy as np

In [2]:
x = np.array([1, 2, 3])
x.dtype

dtype('int32')

In [3]:
x = np.array([1.0, 2.0, 3.0])
x.dtype

dtype('float64')

In [4]:
x = np.array([1, 2, 3.0])
x.dtype

dtype('float64')

In [5]:
x = np.array([1, 2.0, 3])
x.dtype

dtype('float64')

In [6]:
x = np.array([1, 2, 3], dtype='f')
x.dtype

dtype('float32')

In [7]:
x[0] + x[1]

3.0

### Inf와 NaN

In [8]:
np.array([0, 1, -1, 0]) / np.array([1, 0, 0, 0])

array([  0.,  inf, -inf,  nan])

In [9]:
np.log(0)

-inf

In [10]:
np.exp(-np.inf)

0.0

### 배열 생성

In [12]:
a = np.zeros(5)
a

array([0., 0., 0., 0., 0.])

In [14]:
b = np.zeros((2, 3))
b

array([[0., 0., 0.],
       [0., 0., 0.]])

In [15]:
c = np.zeros((2, 5), dtype="int")
c

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [17]:
c.dtype

dtype('int32')

In [18]:
np.ones(4)

array([1., 1., 1., 1.])

In [19]:
np.ones_like(b)

array([[1., 1., 1.],
       [1., 1., 1.]])

In [20]:
g = np.empty((4, 3))
g

array([[1.23595320e-311, 2.47032823e-322, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 1.58817677e-052],
       [4.46649225e-090, 1.59955845e+160, 3.61063136e+174],
       [1.16305480e+165, 3.99910963e+252, 7.60095595e-042]])

In [21]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [22]:
np.arange(3, 21, 2)

array([ 3,  5,  7,  9, 11, 13, 15, 17, 19])

In [23]:
np.linspace(0, 100, 5) # linspace는 통계에서 쓰인다.

array([  0.,  25.,  50.,  75., 100.])

In [25]:
x = np.linspace(-5, 5, 100)
y = 1/(1+np.exp(-x))

In [24]:
np.logspace(0.1, 1, 10)

array([ 1.25892541,  1.58489319,  1.99526231,  2.51188643,  3.16227766,
        3.98107171,  5.01187234,  6.30957344,  7.94328235, 10.        ])

In [26]:
np.log(np.logspace(0.1, 1, 10))

array([0.23025851, 0.46051702, 0.69077553, 0.92103404, 1.15129255,
       1.38155106, 1.61180957, 1.84206807, 2.07232658, 2.30258509])

### 전치 연산 (Transpose)

In [27]:
A = np.array([[1, 2, 3], [4, 5, 6]])
A

array([[1, 2, 3],
       [4, 5, 6]])

In [28]:
A.T   # 행과 열을 바꿔준다.

array([[1, 4],
       [2, 5],
       [3, 6]])

In [29]:
A.T @ A    # 3x2 행렬과 2x3행렬을 곱하면 3x3행렬이 된다.

array([[17, 22, 27],
       [22, 29, 36],
       [27, 36, 45]])

In [30]:
A @ A.T    # 2x3 행렬과 3x2행렬을 곱하면 2x2행렬이 된다.

array([[14, 32],
       [32, 77]])

### 배열의 크기 변형

In [31]:
a = np.arange(12)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [32]:
b = a.reshape(3, 4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [33]:
a.reshape(3, -1)   # -1의 의미는 앞의 숫자에 따라 행렬을 꽉 채우라는 의미

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [34]:
a.reshape(3,2, -1)

array([[[ 0,  1],
        [ 2,  3]],

       [[ 4,  5],
        [ 6,  7]],

       [[ 8,  9],
        [10, 11]]])

In [35]:
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [36]:
b.flatten()    # 다차원 배열을 1차원으로 변경해주는 명령어

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [37]:
b.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [38]:
x = np.arange(5)
x

array([0, 1, 2, 3, 4])

In [39]:
x.reshape(1, -1)

array([[0, 1, 2, 3, 4]])

In [40]:
x.reshape(5, 1)

array([[0],
       [1],
       [2],
       [3],
       [4]])

In [41]:
x[:, np.newaxis] # 기본 차원은 남겨두고 차원을 하나 더 만든다.

array([[0],
       [1],
       [2],
       [3],
       [4]])

### 배열 연결

In [48]:
a1 = np.ones((2, 3))
a1

array([[1., 1., 1.],
       [1., 1., 1.]])

In [49]:
a2 = np.zeros((2, 2))
a2

array([[0., 0.],
       [0., 0.]])

In [50]:
np.hstack([a1, a2])

array([[1., 1., 1., 0., 0.],
       [1., 1., 1., 0., 0.]])

In [51]:
b1 = np.ones((2, 3))
b1

array([[1., 1., 1.],
       [1., 1., 1.]])

In [52]:
b2 = np.zeros((3, 3))
b2

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [53]:
np.vstack([b1, b2])

array([[1., 1., 1.],
       [1., 1., 1.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [57]:
t1 = np.zeros((3, 3))
t1

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [59]:
t2 = np.ones((3, 2))
t2

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [61]:
t3 = np.arange(10, 151, 10)
t3

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150])

In [67]:
t5 = t3.reshape(3, -1)
t5

array([[ 10,  20,  30,  40,  50],
       [ 60,  70,  80,  90, 100],
       [110, 120, 130, 140, 150]])

In [64]:
t4 = np.hstack([t1, t2])
t4

array([[0., 0., 0., 1., 1.],
       [0., 0., 0., 1., 1.],
       [0., 0., 0., 1., 1.]])

In [69]:
t6 = np.vstack([t4, t5])
t6

array([[  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.]])

In [78]:
t7 = np.vstack([t6, t6])
t7

array([[  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.]])

### 2차원 그리드 포인트 생성

In [79]:
x = np.arange(3)
x

array([0, 1, 2])

In [81]:
y = np.arange(5)
y

array([0, 1, 2, 3, 4])

In [82]:
X, Y = np.meshgrid(x, y)

In [83]:
X

array([[0, 1, 2],
       [0, 1, 2],
       [0, 1, 2],
       [0, 1, 2],
       [0, 1, 2]])

In [84]:
Y

array([[0, 0, 0],
       [1, 1, 1],
       [2, 2, 2],
       [3, 3, 3],
       [4, 4, 4]])

In [85]:
[list(zip(x, y)) for x, y in zip(X, Y)]

[[(0, 0), (1, 0), (2, 0)],
 [(0, 1), (1, 1), (2, 1)],
 [(0, 2), (1, 2), (2, 2)],
 [(0, 3), (1, 3), (2, 3)],
 [(0, 4), (1, 4), (2, 4)]]